/* Fonts */

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Syncopate);
@font-face {
    font-family: 'montserratlight';
    src: url('../fonts/montserrat-light-webfont.eot');
    src: url('../fonts/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-light-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-light-webfont.woff') format('woff'),
         url('../fonts/montserrat-light-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-light-webfont.svg#montserratlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat-hairline';
    src: url('../fonts/montserrat-hairline-webfont.eot');
    src: url('../fonts/montserrat-hairline-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-hairline-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-hairline-webfont.woff') format('woff'),
         url('../fonts/montserrat-hairline-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-hairline-webfont.svg#montserrathairline') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    font-size: 100%;
    line-height: 1.6875;
}

a {color: #999ea1;}

a:hover,
a:visited {
    color: #999ea1;
}

img {
    max-width: 100%;
}

h1,h2,h3,h4,h5,h6,ul {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.heading-lg{
  font:normal 7em/1em 'montserrat-hairline', sans-serif;
  color:#828282;
  text-transform: uppercase;
}
@media (max-width: 767px){
  .heading-lg{
    font-size:5em;
    text-align: center;
  }
}
/* -------------------------------------- *\
    Header
\* -------------------------------------- */

header{
  position: relative;
}

header [class*="col-lg-"] {
    padding: 30px 15px;
}

header h1 {
    font-family: 'Montserrat', sans-serif;
    font: 400 5em/1em 'Montserrat', sans-serif;
    margin-top: 4.1%;
}

header [class*="col-lg-"] a {
    display: inline-block;
}

.shadow {
  background: url(../images/bg-header-shadow.png) no-repeat center 145px;
  background-size: contain;
  // height: 80px;
  // width: 100%;
  // position: absolute;
  // bottom:0;
}
.jumbo-shadow{
  background-image: url(../images/bg-header-shadow.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  background-color:#b0b0b0;
}


/* Navigation styles */

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.navbar-nav{
  float:right;
}

.navbar-nav>li:after {
    content: '/';
    display: inline-block;
    font: 400 2em/1em 'Montserrat', sans-serif;
    color: #999ea1;
}

.navbar-nav>li:last-child:after {
    display: none;
}
.navbar-default .navbar-nav>li:last-child>a{
  padding-right:0;
}

.navbar-default .navbar-nav>li>a {
    font: 400 2em/1em 'montserratlight', sans-serif;
    color: #999ea1;
    padding: 0 40px;
    text-transform: uppercase;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-nav>li>a:active {
    color: #00a99d;
    background-color: transparent;
}

.navbar-default .caret {
    display: none;
}

.dropdown-menu {
    width: 100%;
    border: 0 none;
    border-radius: 0;
    padding: 0;
    top: 60%;
    background: #b0b0b0;
}

.nav > li.dropdown.open {
    position: static;
}
.open>.dropdown-menu{
  display: block;
}
.nav > li.dropdown.open .dropdown-menu {
    width: 74%;
    text-align: center;
    left: 22%;
}

.dropdown-menu li {
    float: left;
}

.dropdown-menu li a {
    font: normal 11px/11px 'Open Sans', sans-serif;
    padding: 5px 7px;
    color:#fff;
    display: block !important;

}

.dropdown-menu li:last-of-type {
    float: right;
}

.dropdown-menu>li>a:focus, 
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a.active,
.dropdown-menu>.active>a, 
.dropdown-menu>.active>a:hover, 
.dropdown-menu>.active>a:focus{
  background-color:#00a99d;
  color:#fff;
}
.dropdown-menu .dropdown-shadow{
  background: url(../images/bg-subnav-shadow-small.png) no-repeat 0px 0px transparent;
  /*width: 407px;*/
  width: 100%;
  height: 23px;
  position: absolute;
  top: 21px;
  left: 4%;
  background-size: contain;
  opacity: 0.7;
}
@media (max-width: 1199px) and (min-width: 992px){
  .navbar-default .navbar-nav>li>a{
    padding:0 20px !important;
  }
  .nav > li.dropdown.open .dropdown-menu{
    width: 72%;
    left:18% !important;
  }
}

@media (max-width: 991px){
 .navbar-default .navbar-nav>li>a{
  padding: 0 5%;
 }
 .nav > li.dropdown.open .dropdown-menu{
  left:9%;
  width: 83%;
 }
}

@media (max-width: 992px) {
    header h1,
    .logo {
        margin: 0 auto;
        text-align: center;
    }
}
@media (max-width: 767px) {
  header [class*="col-lg-"]{
    padding:15px 0;
  }
  .navbar-nav{
    float:none;
  }
  .navbar-nav>li:after{
    display: none;
  }
  .navbar-nav>li{
    padding: 0 5px;
    text-align: center;
  }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form{
    border: 0 none;
  }
  .dropdown-menu li{
    display: block;
    float:none;
  }
  .dropdown-menu li:last-of-type{
    float:none;
  }
  .nav > li.dropdown.open .dropdown-menu{
    left:0;
    width: 100%;
  }
  .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .dropdown-menu>li>a.active, .dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus{
    color:#fff !important;
  }
  .navbar-nav>li:after,
  .dropdown-menu .dropdown-shadow
  {display: none !important;}
  
  .navbar-default .navbar-nav>li>a{
    padding:10px 0;
  }
  
  .navbar-toggle{
    float:none;
    margin:0 43%;
  }
}

/* -------------------------------------- *\
    Main body
\* -------------------------------------- */

.main-body {
    margin-bottom: 50px;
    font-family: 'Open Sans', sans-serif;
}

.main-body .splash-images > .splash-image {
    margin: 0 5px;
    padding: 0;
    width: 31.5%;
    display: inline-block;
}

.main-body .splash-images > .splash-image:nth-child(1) {
    padding-left: 0;
    margin-left: 0;
}

.main-body p{
  font:normal 1.6em/1.2em 'Open Sans', sans-serif;
}

ul.arrow{
  list-style-type: none;
  list-style-image: none;
  margin:25px 0 0 -15px;
}
ul.arrow > li{
  list-style-type: none;
  background: url(../images/icon-list-arrow.png) no-repeat left center;
  background-size: 1.2%;
  padding:0 0 0 15px;
  font:bold 1.3em/1.8em 'Open Sans', sans-serif;
  text-transform: uppercase;
  color:#828282;
}
ul.arrow.arrow-red > li{
  background: url(../images/icon-list-arrow-red.png) no-repeat left center;
  background-size: 1.2%;
  color:#fff;
}

@media screen and (max-width: 767px) {
  ul.arrow{
    margin:25px 0 0 0;
  }
  ul.arrow.arrow-red > li{
    background-size:3%;
  }
}
.main-body .splash-images > .splash-image:nth-child(3) {
    padding-right: 0;
    margin-right: 0;
}

@media screen and (max-width: 992px) {
    .splash-images img {
        margin: 0 auto;
        text-align: center;
        max-width: 80%;
        width: 80%;
        display: block;
    }
    .main-body .splash-images > .splash-image {
        margin: 1% 0;
        width: 49%;
    }
}

@media screen and (max-width: 767px) {
  .main-body .splash-images > .splash-image {
      display: block;
      margin: 0 auto;
      width: 75%;
    }
    .main-body .splash-images > .splash-image:nth-child(1),
    .main-body .splash-images > .splash-image:nth-child(3){
      margin:0 auto;
    }
}

.jumbotron{
  padding:35px 0 20px;
}
.jumbotron p{
  color:#fff;
  font:normal 2.3em/1.3em 'montserrat-hairline', sans-serif;
  padding-left: 9%;
}

.bg-construction{
  background:url(../images/bg-construction-workers.jpg) no-repeat center center;
  background-size: cover;
}
.bg-construction-single{
  background:url(../images/bg-construction-single.jpg) no-repeat center center;
  background-size: cover;
  padding:10px 0;
}
.bg-construction-single-flip{
  background:url(../images/bg-construction-single-flipped.jpg) no-repeat center center;
  background-size: cover;
  padding: 0;
}
.gallery .comp-gallery{
  margin:0 0 10px;
}
.gallery .share{
  margin-bottom: 13px;
}
.gallery .share ul{
  list-style-image: none;
  list-style: none;
  float:right;
}

.gallery .share ul li{
  display: inline-block;
  list-style-type: none;
  list-style: none;
  padding:0 5px;
}

.gallery .share ul li a{
  font-size: 1.5em;
  color: #333333;
}



.inner-shadow{
  -webkit-box-shadow: inset 0px 15px 17px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 15px 17px -8px rgba(0,0,0,0.75);
  box-shadow: inset 0px 15px 17px -8px rgba(0,0,0,0.75);
  padding-top:20px;
}

.main-body .row + .row{
  margin-top:15px;
  margin-bottom:30px;
}
.btn-container{
  margin-top:2%;
}
.btn-container > .btn-blk:first-child{
  margin-right:3%;
  margin-bottom:10px;
}
.meet-team .col-lg-2 .btn-icon-down{
  margin-top:14%;
}
@media (max-width: 767px) {
  .meet-team .col-lg-2 .btn-icon-down{
    margin:3% 0;
  }
  .btn-container{
    margin-top:5%;
  }
}
/* -------------------------------------- *\
    Team styles
\* -------------------------------------- */
.team-box{
  border:1px solid #fff;
  color:#fff;
  background-color: rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
  width: 49.5%;
  float: left;
  margin-bottom: 10px;
  position: relative;
}
.team-box:nth-of-type(2){
  float: right;
}

.team-box img{
  height: 240px;
}
.team-box h2{
  font-size:1.8em;
  margin-bottom: 5px;
}
.team-box h4{
  font-size:1.4em;
  margin-bottom: 5px;
}
.team-box h5{
  font-size:1.2em;
  margin-bottom: 20px;
}
.team-box .col-lg-8{
  padding:15px 25px;
}
.team-box p{
  font-size:1.3em;
  line-height: 1.6em;
}
.team-box .team-link{
  display: inline-block;
  color:#fff;
  font-size: 1.2em;
}
.team-box .team-link:nth-child(2){
  margin-left: 5%;
}
.team-box .link-container{
  position: absolute;
  bottom:0;
  left: 37%;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .team-box .link-container{
    left:37% !important;
  }
}
@media screen and (min-width: 993px) {
  .team-box .link-container{
    width: 45%;
    right: 0;
    left: auto;
  }
  .team-box img{
    height: auto;
  }
}
@media screen and (max-width: 993px) {
  .team-box{
    width:100%;
  }
  .team-box .link-container{
    width: 45%;
    left:45%;
  }
  .team-box img{
    height:auto;
  }
}
@media screen and (max-width: 767px) {
  .team-box{
    width: 95%;
    margin: 0 auto 10px;
    float:none !important;
    padding: 15px;
  }
  .team-box .link-container{
    position: static;
    left:0;
    margin-left: 1.7%;
    width: 100%;
  }
  .team-box img{
    height: auto;
    margin:0 auto;
  }
}
/* -------------------------------------- *\
    Services page
\* -------------------------------------- */
.gallery-top-bar{
  background:#000;
  padding:5px 0;
  margin-bottom: 15px;
}

.gallery-top-bar .gallery-cell{
  color: #fff;
  font: 700 1.8em/1em 'Montserrat';
  height: 20px;
  width: 20%;
  text-transform: uppercase;
} 

.gallery-top-bar .gallery-cell.is-selected{
  color:#00a99d;
}

.gallery-cell{
  width:100%;
  /*height:400px;*/
}

.gallery-cell .container{
  margin-top:25px;
}

.gallery-cell > div{
  color: #fff;
}

.gallery-cell p{
  font-size:1.4em;
}

.gallery-cell ul{
  margin-left:5%;
}
.gallery-main .gallery-cell{
  padding-bottom:50px;
}
/*Flickity overrides*/
.flickity-page-dots,
.gallery-top-bar .flickity-prev-next-button,
.flickity-prev-next-button > svg{display: none;}

.flickity-prev-next-button.previous{
  background:url(../images/btn-prev.png) no-repeat center center;
  background-size:75%;
}
.flickity-prev-next-button.next{
  background:url(../images/btn-next.png) no-repeat center center;
  background-size:75%;
}

@media screen and (max-width: 768px) {
  .bg-construction-single-flip{
  }
  .gallery-top-bar .gallery-cell{
    width: 30%;
    max-height:50px;
  }
  .gallery-main .gallery-cell{
  }
  .gallery-main .gallery-cell img{
    max-height: 200px;
    margin:0 auto;
    display: block;
  }
}

@media screen and (max-width: 630px) {
  .gallery-top-bar .gallery-cell{
    width: 100%;
    text-align: center;
  }
  .gallery-main .gallery-cell{
  }
  .gallery-main .gallery-cell img{
    max-height: 200px;
  }
}


/* -------------------------------------- *\
    Footer
\* -------------------------------------- */

footer {
    font-family: 'Open Sans', sans-serif;
}

footer [class*=col-lg]:first-of-type {
    padding-left: 0;
}

footer [class*=col-lg]:last-of-type {
    padding-right: 0;
}

footer p {
    font-size: 1em;
    line-height: 1.2em;
    color: #999ea1;
}

footer .links {
    list-style: none;
}

footer .links li {
    list-style-image: none;
    display: inline-block;
    font: normal .9em/1.2em 'Syncopate', sans-serif;
    margin: 0 2%;
}

footer .links li a {
    display: block;
    font: 700 1.1em/1.1em 'Syncopate', sans-serif;
    text-transform: uppercase;
}

footer .social {
    float: right;
}

@media screen and (max-width: 992px) {
    footer .links {
        margin-bottom: 5%;
        text-align: center;
    }
    footer .social {
        float: none;
        text-align: center;
    }
}

.social {
    list-style: none;
}

.social > li {
    list-style-image: none;
    display: inline-block;
}

.social > li > [class*=icon-] {
    background: url(../images/sprite-social.png) no-repeat;
    display: block;
    width: 24px;
    height: 24px;
}

.social > li > .icon-facebook {
    background-position: 0 0;
}

.social > li > .icon-twitter {
    background-position: -33px 0;
}

.social > li > .icon-linkedin {
    background-position: -66px 0;
}


/* -------------------------------------- *\
    Buttons/CTA's
\* -------------------------------------- */
.btn-blk{
  background-color: #000;
  border-radius: 30px;
  display: inline-block;
  text-align: center;
  font:normal 1.5em/1em 'Montserrat', sans-serif;
  text-transform: uppercase;
  color:#fff;
  text-decoration: none;
  padding:5px 0 5px 25px;  
  background-size: 20%;
  min-width: 130px;
}

.btn-icon-down{
  background-image    : url(../images/icon-btn-arrow-down.png);
  background-repeat   : no-repeat;
  background-position : 10% center;
}
.btn-icon-right{
  background-image    : url(../images/icon-btn-arrow-right.png);
  background-repeat   : no-repeat;
  background-position : 10% center;
  background-size     : contain;
  padding: 5px 0 5px 15px;
}

.btn-blk:hover, 
.btn-blk:visited, 
.btn-blk:focus{
  color:#fff;
  text-decoration: none;
} 